body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0px;
  padding: 0px;
}


/* max-width */
.max-w-sm{
  max-width: 425px;
}


/* margin */
.me-n5 {
  margin-right: -1rem;
}


/* padding */
.pt-6{
  padding-top: 85px;
}


/* font weight */
.fw-600 {
  font-weight: 600;
}


/* text color */
.text-grey-700{
  color:#97989B
}

.text-violet-500{
  color:#7E56DA;
}

.text-blue-900 {
  color: #080b11;
}


/* backgound colors */
.bg-custom-purple {
  background-color: #7e56da;
}

.bg-custom-gray {
  background-color: #f2f2f4;
}

.bg-violet-500{
  background-color: #7E56DA;
}

.bg-grey-50 {
  background-color: #fbfbfb;
}


/* border colors */
.border-grey-300 {
  border-color: #e2e4e6;
}

.btn-violet-500{
  background-color: #7E56DA;
}


/* border radius */
.border-tl-3{
 border-radius: 8px 0px 0px 0px ;
}


/* button colors */
.btn-white{
  background-color: white;
}


/* input fields */
.text-area{
  border: none;
  outline: none;
  resize: none;
  height: auto;
}